<%= render partial: 'layouts/partials/header' %>
<div class="panel-body panel-default">
  <%= link_to "Products", admin_ajax_products_path(@product) %><br>
  <%= link_to "Coctiles", admin_coctailes_path(@coctaile) %>
</div>
