<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <% @coctailes.each do |coctaile| %>
    <% if @coctailes.first == coctaile %>
    <div class="item active">
    <% else %>
    <div class="item">
    <% end %>
		<div class="col-sm-2 col-sm-offset-5">
			<%= image_tag(coctaile.image_url) if coctaile.image? %>
			<div class="carousel-caption">
				<h3><%= coctaile.name %></h3>
				<p>Price: <%= coctaile.price %></p>
			</div>
		</div>	
    </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

</div>

