<div id="all" class="panel-body">
    <h1>Coctailes with <%= @product.name %></h1>
  <div class="line-coctaile"></div>
  <div class="panel-body">
	<div class="row">
		<%= coctaile_thumbnail(@coctailes) %>
	</div>
  </div>
</div>
