<div id="all" class="panel-body">
  <h1>All coctailes</h1>
  <div class="line-all"></div>
  <div class="panel-body">
	<div class="row">
		<%= coctaile_thumbnail(@coctailes) %>
	</div>
  </div>
</div>
